.mainHeader{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rebeccapurple;
    align-items: center;
    padding: 0 1rem;
}

.logo{
    height: 3rem;
}

.navigation{
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    grid-column-gap: 2rem;
}

.link{
    color: white;
}